.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0, 0, 0, 0.5);
}

.card {
  position: relative;
  width: 90%;
}

.card-body {
  height: 100%;
  width: 100%;
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.card-close-btn {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.login-form,
.register-form {
  display: none;
}

.login-form.active,
.register-form.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit-btn {
  margin-right: 5px;
  border-radius: 5px;
  padding: 0.7rem 1.5rem;
  border: none;
  text-decoration: none;
  cursor: pointer;
}

.login-input-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-title {
  margin: 0 0 20px 0;
}

@media screen and (min-width: 650px) {
  .card {
    position: relative;
    width: 50%;
    padding: 1%;
  }
}
